* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", cursive;
}
body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 30px;
  font-size: 5vw;
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.options button {
  text-align: center;
  font-size: 3vw;
  flex-basis: 100%;
  flex-grow: 1;
  margin: 20px;
  padding: 1.5vw;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  transition: all 0.2s;
  outline: none;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vw;
  text-align: center;
}

.option button {
  width: 200px;
}

.option > img {
  width: 10vw;
  margin: auto auto 0 auto;
}

.options button:hover {
  border-color: green;
  color: green;
}

p {
  text-align: center;
  font-size: 2.5vw;
}

.picks {
  display: flex;
  justify-content: center;
  color: white;
}

.picks > div {
  padding: 0px 100px;
  margin: 20px;
}

::selection {
  background-color: black;
  color: white;
}

@media screen and (max-width: 500px) {
  .options {
    flex-direction: column;
  }
}
